#.head-font {
      color: #b09851;
      font-size: 15vh;
      padding-bottom: 90px;
      padding-left: 80px;
      font-family: 'Raleway', sans-serif;
}
.head-font2 {
      color: #b09851;
      font-size: 16vh;
      padding-top: 3%;
      padding-left: 4%;
      font-family: 'Raleway', sans-serif;
}
.Bg {
      background-image: url("https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?cs=srgb&dl=pexels-c%C3%A1tia-matos-1072179.jpg&fm=jpg&_gl=1*uwky26*_ga*MjEwODcyODY4NC4xNjc0NDAwMzU3*_ga_8JE65Q40S6*MTY3NDQwMDM1Ny4xLjEuMTY3NDQwMDc0Ny4wLjAuMA..");   
      background-size: cover;
      height: 100%;
      background-position: center;
      background-repeat: repeat-x;
}
.card {
  opacity: 0.8;
  background-color: #092633;
  width: 30%;
  height: 35%;
  margin-top:5%;
  margin-left: 50%;
}
.card1 {
  opacity: 0.2;
  background-color: #4b6996;
  width: 2%;
  height: 3%;
  margin-top:;
  margin-left: ;
}

.para {
  font-size: 25px;
  font-family: 'Aboreto', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Satisfy', cursive;
  color: #9ecfd9;
  padding: 15px 13px 3px 15px; 
}
.head-card {
  font-size: 33px;
  font-family: 'Aboreto', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
  color: #f5f7f7;
  padding: 15px 10px 0px 15px;
}
.but {
  height: 65px;
  width: 470px;
  margin-left: 15px;
  font-size:25px;
  font-family: 'Aboreto', cursive;
font-family: 'Raleway', sans-serif;
  font-style:;
  background-color: #117d5b;
  opacity: 01;
  
}
   
.card1 {
  opacity: 0.8;
  background-color: #421052;
  width: 28%;
  height: 33%;
  margin-top:10%;
  margin-left: 85%;
  border-radius: 10vh;
}   